@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

body, html {
  height: 100%;
  overflow-y: scroll; 
}


ol, ul {
  list-style: none;
}

body {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(23, 23, 23);
}

/* The hero image */
.hero-image {
background-image: linear-gradient(rgba(0.5, 0.5, 0.5, 0.5), rgba(0, 0, 0, 0.5)), url("./unsplash.jpg") ;
width: 100%;
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(236, 222, 222);
}

.hero-text h1 {
  font-family: 'Courgette', cursive;
  font-size: 4em;
  text-decoration: underline;
  margin: 20px;
}
.hero-text h4 {
  font-family: 'Courgette', cursive;
  font-size: 2em;
}
.hero-text p {
  font-size: 2em;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  margin: 30px;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

#root {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(226, 226, 226);
  overflow-y: scroll; 
}

.month-name {
font-size: 4em;
margin-top: 90px;
font-family: 'Courgette', cursive;
}

.main-veggielist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.monthFood {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
}

.list-monthFood {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 5px;
  height: 25%;
  width: 20%;
  cursor: pointer; 
}

.list-monthFood {
  border: solid 1px white;
  padding: 10px;
  box-sizing: border-box;
}

.footer {
  font-size: 1em;
  margin: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Courgette', cursive;
}

.recipes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap; 
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin: 20px;
}

.flip-card .inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card .inner .front,
.flip-card .inner .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #1b1211;
}

.flip-card .inner .back {
  transform: rotateY(180deg);
}
.flip-card:hover .inner {
  transform: rotateY(180deg);
}

.back {
  margin-top: 20px;
  overflow-x: scroll;
  white-space: wrap;
  width: 50px;
}

.recipe-name {
  font-family: 'Courgette', cursive;
  font-size: 2em;
  padding: 10px 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ingredient-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 30px;
}
