@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Veggielist */
/* Vegetable list */

.main-veggielist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
}

.monthFood {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  width: 50%;
  padding: 20px 0px 30px 0px;
}

.list-monthFood {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 5px;
  min-width: 150px;
  height: 25%;
  width: 25%;
  cursor: pointer;
  text-transform: capitalize;
  border: solid 1px rgb(236, 222, 222);
  padding: 10px;
  box-sizing: border-box;
}

.list-monthFood:hover {
  color: #1f1f1f;
  background-color: rgb(226, 226, 226);
}



.jumbotron {
  background: url(dark-veggies.jpg) right no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 0 0 10px black;
  height: 100vh;
  width: auto;
}

.jumbotron h2 {
  font-size: 2em;
  margin: 20px 0;
}

.jumbotron p {
  max-width: 700px;
  margin: 20px 0;
}

.btn {
  padding: 20px;
  font-size: 1rem;
}
