@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

body, html {
  height: 100%;
  overflow-y: scroll;
}

ol, ul {
  list-style: none;
}

body {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(23, 23, 23);
}

#root {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(226, 226, 226);
  overflow-y: scroll;
}

/* Navbar */

.navbar {
  background-color: #1f1f1f;
  position: sticky;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.navbar ul {
  display: flex;
}

.navbar li {
  margin-right: 20px;
  margin-bottom: 10px;
}

.navbar li a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 800;
  color: rgb(236, 222, 222);
  text-transform: uppercase;
}

.navbar li a:hover {
  border-bottom: 2px solid #fff;
}

/* The hero image */

.hero {
  height: 1000px;
}

.hero-image {
  background-image: linear-gradient(rgba(0.5, 0.5, 0.5, 0.5), rgba(0, 0, 0, 0.5)), url("./unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-text {
  left: 50%;
  height: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: rgb(255, 253, 246);
}

.hero-text h1 {
  font-family: 'Courgette', cursive;
  font-size: 4em;
  text-decoration: underline;
  margin: 20px;
}

.hero-text h4 {
  font-family: 'Courgette', cursive;
  font-size: 2em;
}

.hero-text p {
  font-size: 2em;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: rgb(255, 253, 246);
  text-align: center;
  cursor: pointer;
  margin: 30px;
}

.hero-text button:hover {
  background-color: rgb(94, 93, 93);
  color: white;
}

/*Story*/

.Story {
  background-color: rgb(255, 253, 246);
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.StoryH3 {
  font-size: 4em;
  font-family: 'Courier New', Courier, monospace;
  color: #1f1f1f;
  display: block;
}

.StoryH3:after {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-top: 2px solid black;
  left: 50%;
  bottom: 0;
  width: 30px;
  height: 0px;
}

.Story p {
  padding: 10px;
  font-size: 1.2em;
  color: #1f1f1f;
  max-width: 40%;
  text-align: center;
  line-height: 1.6;
}

/* Monthheader */

.month-name {
  font-size: 2.5em;
  font-family: 'Courgette', cursive;
  display: block;
}

.month-name::after {
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-top: 2px solid rgb(243, 243, 243);
  left: 50%;
  bottom: 0;
  width: 30px;
  height: 0px;
}

/* Vegetable list */

.main-veggielist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
}

.monthFood {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  width: 50%;
  padding: 20px 0px 30px 0px;
}

.list-monthFood {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 5px;
  min-width: 150px;
  height: 25%;
  width: 25%;
  cursor: pointer;
  text-transform: capitalize;
  border: solid 1px rgb(236, 222, 222);
  padding: 10px;
  box-sizing: border-box;
}

.list-monthFood:hover {
  color: #1f1f1f;
  background-color: rgb(226, 226, 226);
}

/* Footer */

.footer {
  font-size: 1.5em;
  margin: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Courgette', cursive;
}

/* Recipecards */

.no-recipes-line {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 20px;
}

.arrow {
  width: 60px;
  height: 60px;
}

.recipe-section {
  background-color: rgb(245, 236, 236);
  flex-direction: column;
  padding: 20px;
}

.recipe-header {
  font-size: 2.5em;
  color: #1f1f1f;
  margin-top: 10px;
  font-family: 'Courgette', cursive;
}

.no-recipes {
  font-size: 1.5em;
  color: rgb(245, 236, 236);
  margin-top: 10px;
  font-family: 'Courgette', cursive;
}

.recipes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  margin: 20px;
}

.flip-card .inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card .inner .front, .flip-card .inner .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  text-align: center;
  color: white;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #1b1211;
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card .inner .back {
  transform: rotateY(180deg);
}

.flip-card:hover .inner {
  transform: rotateY(180deg);
}

.back {
  margin-top: 20px;
  overflow-x: scroll;
  white-space: wrap;
  width: 50px;
  align-items: center;
}

.recipe-name {
  font-family: 'Courgette', cursive;
  font-size: 1.5em;
  padding: 10px 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nameFront {
  font-size: 2em;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.ingredient-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px 30px;
}

.url-recipe {
  width: 100%;
}

.button-recipe {
  background-color: white;
  padding: 10px 10px;
  border: none;
  margin-top: 10px;
  width: 40%;
}

.about {
  font-size: 1em;
  margin: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about h1 {
  font-family: 'Courgette', cursive;
  font-size: 3em;
}

.about h3 {
  font-family: 'Courgette', cursive;
  font-size: 2em;
  margin: 10px;
}

.about p {
  font-size: 18px;
  margin: 20px;
  max-width: 60%;
  line-height: 1.6;
}